:where(.wp-block-mone-embed.is-whole-linked) {
	position: relative;
  &:hover {
    background-color: var(--wp--preset--color--main-bg);
    -webkit-transition: background-color .35s;
    transition: background-color .35s;
  }
  &:not(.block-editor-block-list__block) > :nth-child(2) {
      margin-block-start: 0;
  }
  a.wp-block-mone-embed__link {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      text-decoration: none !important;
  }
  .wp-block-button,
  a {
      position: relative;
      z-index: 4;
  }
}
