.wp-block-mone-icon {
	box-sizing: border-box;
	line-height: 0;

	&.has-icon-color {
		svg {
			fill: currentColor;
		}
	}

	svg {
		height: 100%;
		width: 100%;
	}

	.wp-block-mone-icon__link {
		display: block;
		width: 100%;
		height: 100%;
	}

	&:hover[style*="--hover-background-color"] {
		background: var(--hover-background-color) !important;
		transition: background-color 0.35s;
	}
}
