dialog.block-editor-block-list__layout.mone-dialog-container {
	width: 100%;
	top: 50%;
	transform: translate(0, -50%);
	overflow: auto;
	max-width: calc(100% - 2em - 6px);
	max-height: calc(100% - 8em - 6px);
	display: none;

	&.alignwide,
	&.alignfull {
		margin-right: auto !important;
		margin-left: auto !important;
	}

	&.is-selected,
	&:has(.is-selected),
	&:has(.is-multi-selected) {
		display: block;
	}

}

.block-editor-block-inspector__mone-position,
.block-editor-block-inspector__position {
	display: none;
}
