body.dialog-open {
	overflow: hidden;
}

dialog.mone-dialog-content::backdrop {
	background-color: #00000059;
	cursor: zoom-out;
}

dialog.mone-dialog-content.wp-block-group {
	margin-block-start: auto;
	margin-block-end: auto;
	width: var(--wp--style--global--content-size);
	outline: none;
	display: none;

	&[open] {
		display: block;
	}

	&.alignwide,
	&.alignfull {
		margin-right: auto;
		margin-left: auto;
	}

	&.alignwide {
		width: var(--wp--style--global--wide-size);
	}

	&.mone-alignfit {
		width: fit-content;
	}

	&.alignfull {
		width: 100%;
	}
}

:where(dialog.mone-dialog-content) {

	border: none;
	box-shadow: 0 5px 15px #00000014, 0 15px 27px #00000012, 0 30px 36px #0000000a, 0 50px 43px #00000005;
	width: 100%;
}

.mone-dialog-link {

	&:hover {
		cursor: zoom-in;
	}
}
