body.dialog-open {
	overflow: hidden;
}

button.mone-dialog-link {
	padding: 0;
	border: none;
	outline: none;
	font: inherit;
	color: var(--wp--preset--color--mone-link);
	font-weight: 600;
	background: none;
	cursor: pointer;
}

dialog.mone-dialog-content::backdrop {
	background-color: #00000059;
	cursor: zoom-out;
}

dialog.mone-dialog-content.wp-block-group {
	margin-block-start: auto;
	margin-block-end: auto;
	width: var(--wp--style--global--content-size);
	outline: none;
	display: none;

	&[open] {
		display: block;
	}

	&.alignwide,
	&.alignfull {
		margin-right: auto;
		margin-left: auto;
	}

	&.alignwide {
		width: var(--wp--style--global--wide-size);
	}

	&.mone-alignfit {
		width: fit-content;
	}

	&.alignfull {
		width: 100%;
	}
}

:where(dialog.mone-dialog-content) {

	border: none;
	box-shadow: 0 5px 15px #00000014, 0 15px 27px #00000012, 0 30px 36px #0000000a, 0 50px 43px #00000005;
	width: 100%;
}

@keyframes fadeInScale {

	0% {
		opacity: 0;
		transform: scale(0.7);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOutScale {

	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.7);
	}
}

dialog:not(.block-editor-block-list__block) {

	&.mone-dialog-content {
		transform: scale(0.5);
		animation: fadeOutScale 0.45s ease forwards;
	}

	&[open].mone-dialog-content,
	&.closing.mone-dialog-content {
		animation-duration: 0.45s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
	}

	&[open].mone-dialog-content {
		animation-name: fadeInScale;
	}

	&.closing.mone-dialog-content {
		animation-name: fadeOutScale;
	}
}
