.mone-popover-color-picker {
	width: 260px;
	padding: 16px;

	.components-custom-gradient-picker__control-point-button {
		padding: 0;
	}
}

.mone-tab-head {

	.mone-tab-button {
		width: calc(100% / 5);
	}

	.components-heading {
		color: #1e1e1e;
		font-size: 13px;
		font-weight: 500;
	}

	.mone-format-advanced {
		.components-panel__body-toggle {
			padding: 16px 48px 16px 16px;
		}
	}
}
