.mone-inline-icon {
	display: inline-block;
	margin-left: 0.1em;
	margin-right: 0.1em;
	min-width: 1em;
	position: relative;
	pointer-events: none;
	line-height: 1;
}

.mone-inline-icon::after {
	background: var(--the-icon-color, var(--the-icon-gradient-color, var(--the-gradient-color-for-text, currentcolor)));
	content: "";
	display: block;
	height: 100%;
	left: 0;
	mask-image: var(--the-icon-svg);
	mask-position: center center;
	mask-repeat: no-repeat;
	mask-size: contain;
	position: absolute;
	top: 0;
	width: 100%;
	box-sizing: inherit;
}
