.mone-icon-modal {
	max-height: 88% !important;
	max-width: 92% !important;
	width: 480px;

	&.mone-icon-modal--search {
		margin-right: 16px;
	}

	.mone-icon-tab {

	}

	.mone-icon-tab-content {
		height: 58vh;
		overflow-y: auto;
		border: 1px solid var(--wp--preset--color--mone-border);
	}

	.mone-icon-tab-content--custom {
		border: 1px solid var(--wp--preset--color--mone-border);
		height: 58vh;
		padding: 6px;
		display: flex;
		flex-direction: column;
		gap: 8px;

		.mone-preview-svg-icon {
			height: 20%;
			display: flex;
			align-items: center;
			justify-content: center;

			&.default-icon {
				opacity: 0.5;
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}
	
		.mone-preview-svg-textarea {
			flex-grow: 1;
	
			.components-base-control__field {
				height: 100%;
			}
	
			.components-textarea-control__input {
				height: 100%;
				resize: none;
			}
		}
	}

	.mone-icon-type-toggle-wrapper {
		display: flex;
		justify-content: flex-end;
		position: sticky;
		top: 0;
		z-index: 2;
	}

	.mone-icon-type-toggle {
		width: 150px;
	}

	.mone-icon-button-group {
		width: 100%;
	}

	.mone-icon-button {
		width: 10%;
		padding: 6px;
		border-radius: 6px;
		box-shadow: 0 1px 3px #0000001a;
	}

}
