<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"main-bg","layout":{"type":"default"}} -->
<main class="wp-block-group has-main-bg-background-color has-background" style="margin-top:0;margin-bottom:0"><!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
<article class="wp-block-group"><!-- wp:post-content {"style":{"spacing":{"padding":{"right":"var:preset|spacing|10","left":"var:preset|spacing|10"}}},"backgroundColor":"content-bg","layout":{"type":"constrained"}} /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->