<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"backgroundColor":"main-bg","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-main-bg-background-color has-background" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30)"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","className":"mone_wrap-on-mobile","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group alignwide mone_wrap-on-mobile"><!-- wp:group {"tagName":"article","align":"wide","style":{"layout":{"columnSpan":2}},"layout":{"type":"constrained"}} -->
<article class="wp-block-group alignwide"><!-- wp:template-part {"slug":"query","tagName":"section","align":"wide"} /--></article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->