<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"backgroundColor":"main-bg","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-main-bg-background-color has-background" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30)"><!-- wp:group {"align":"wide","className":"mone_wrap-on-mobile","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group alignwide mone_wrap-on-mobile"><!-- wp:group {"tagName":"article","style":{"layout":{"columnSpan":2}},"layout":{"type":"default"}} -->
<article class="wp-block-group"><!-- wp:group {"tagName":"section","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|50"}},"backgroundColor":"content-bg","layout":{"type":"default"}} -->
<section class="wp-block-group alignwide has-content-bg-background-color has-background" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide">
<!-- wp:pattern {"slug":"mone/post-head-meta"} /-->

<!-- wp:post-featured-image {"align":"wide","style":{"border":{"width":"1px"}},"borderColor":"mone-border"} /-->

<!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"post-meta"} /-->

<!-- wp:pattern {"slug":"mone/related-posts-list"} /-->

<!-- wp:pattern {"slug":"mone/new-posts-list"} /-->

</section>
<!-- /wp:group --></article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->