// Reset button styles.
.wp-block-mone-mega-menu {
	position: relative;

	// Reset button styles.
	button {
		background-color: initial;
		border: none;
		color: currentcolor;
		cursor: pointer;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		line-height: inherit;
		// padding: 0;
		text-transform: inherit;
	}

	.wp-block-create-block-mega-menu-block__menu-container {
		min-height: 50px;

		height: auto;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		transition: opacity 0.1s linear;
		visibility: hidden;
		z-index: 2;
		width: 0;

		&.is-menu-open {
			left: var(--mone--window-offset-left);
			width: var(--mone--window-client-width);
		}
	}

	// Show the mega menu when aria-expanded is true.
	button[aria-expanded="true"] {

		& ~ .wp-block-create-block-mega-menu-block__menu-container {
			opacity: 1;
			overflow: visible;
			visibility: visible;
		}
	}
}
