.mone-gradient-popover {

	.components-custom-gradient-picker__control-point-button {
		padding: 0;
	}


	.mone-gradient-popover-color-picker-title {
		margin: 0 0 8px;
	}

	.mone-gradient-popover-color-picker {
		padding: 16px;
		width: 260px;
	}
}

/* カーソルの色を設定 */
.mone-has-gradient {
	caret-color: var(--wp--preset--color--content-contrast);
}

.mone-color-indicator-button {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;

	&.is-active {
		background-color: #1e1e1e;
		border-radius: 1px;
		box-shadow: 0 0 0 1px #1e1e1e;
	}
}
